<h1>Root#index</h1>
<h2>Hello!</h2>

<%= render "devise/shared/links", resource_name: :user, devise_mapping: Devise.mappings[:user] %>

<code>
<%= current_user.email %>
<%= current_user.webauthn_id %>
</code>

<table>
  <thead>
    <tr>
      <th>Label</th><th>Sign Count</th><th>Last Used At</th><th>Public Key</th><th>External ID</th>
    </tr>
  </thead>
  <tbody>
  <% current_user.passkeys.each do |passkey| %>
    <tr>
      <td><%= passkey.label %></td>
      <td><%= passkey.sign_count %></td>
      <td><%= passkey.last_used_at %></td>
      <td><pre><%= passkey.public_key %></pre></td>
      <td><pre><%= passkey.external_id %></pre></td>
    </tr>
  <% end %>
  </tbody>
</table>